* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.gallery__items {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.gallery-item {
    text-align: center;
    background-color: #fff;

    &__image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__title {
        padding: 20px 0;
    }
}